body{
    font-family: 'Arimo', sans-serif;
}
h1{
    font: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 45%;
    padding: 5%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 12px 30px;
    color: white;
    font-weight: 100;
    border-radius: 100px;

}
.about-me{
    background-image: url(shapes/1.png);
    background-repeat: no-repeat;
}